/* Style the header */
.header {
    padding: 10px 16px;
    background: #ff9595;
    color: #000000;
    text-align: center;
}
  
/* Page content */
.content {
    padding: 16px;
}
  
/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}
  
/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 50px;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
}
  
.navbar a {
    float: left;
    display: block;
    background: #ff7d7d;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.navbar a:hover {
    background: #ddd;
    color: black;
    text-align: center;
}